{% macro render(post, from_index=false, from_sidebar=false) %}
  <article class="blog-post">
    {% if from_index or from_sidebar %}
      <h2 class="title">
        <a href="{{ post|url }}">{{ post.title }}</a>
      </h2>
    {% else %}
      <h1 class="title">
        {{ post.title }}
      </h1>
    {% endif %}
    <p class="meta">
      by <a href="{{ ('/author/' + post.author)|url }}">{{ post.author }}</a> | {{ post.pub_date.strftime('%B %-d, %Y') }}
    </p>
  {% if not from_sidebar %}
    <img class="post-image"  src="{{ image_url(post) }}">
  {% endif %}
  {% if from_index or from_sidebar %}
    {{ render_summary(post) }}
  {% else %}
    <div class="body">
    {% if post.body %}
      {{ post.body }}
    {% else %}
      {{ post._html_body }}
    {% endif %}
    </div>
  {% endif %}
  {% if post.tags and not from_sidebar %}
  <div class="tags">
    <ul>
      {% for t in post.tags -%}
      <li>
        <a href="{{ ('/tag/' ~ t|slug)|url }}">
          {{ t }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if post._comments and not from_sidebar and not from_index %}
  <div class="comments">
      <h2>Comments</h2>
      <p>Please note that the comment area below has been archived.</p>
      {{ post._comments }}
  </div>
  {% endif %}
  </article>
{% endmacro %}

{% macro image_url(post, external=False) -%}
{% if external -%}
{{   url_to(post.image|default('/static/images/blog-image.png'), external=True) }}
{%- else -%}
{{    post.image|default('/static/images/blog-image.png')|asseturl }}
{%- endif %}
{%- endmacro %}

{% macro render_summary(post) %}
    {% if post.summary %}
      {{ post.summary }}
    {% elif post._html_body.find("<!--break-->") > -1  %}
      {{ post._html_body.split("<!--break-->")[0] }}
    {% elif post.body %}
      {{ post.body|truncate(100) }}
    {% else %}
      <p>{{ post._html_body|striptags|truncate(100) }}</p>
    {% endif %}
{% endmacro %}
