{% macro render(post, from_index=false, from_sidebar=false) %}
  <div class="event">
    <p class="dates">
    {% if "end_date" in post %}
      {{ post.start_date.strftime('%B %-d, %Y') }} &#8211; {{ post.end_date.strftime('%B %-d, %Y') }}
    {% else %}
      {{ post.start_date.strftime('%B %-d, %Y') }}
    {% endif %}
    </p>
    {% if from_index or from_sidebar %}
      <h2 class="title">
        <a href="{{ post|url }}">{{ post.title }}</a>
      </h2>
    {% else %}
      <h1 class="title">
        {{ post.title }}
      </h1>
    {% endif %}
    {% if not from_sidebar %}
      <div class="body">
        {{ post.body }}
      </div>
      {% if post.tags %}
      <div class="tags">
        <ul>
          {% for t in post.tags -%}
          <li>
            <a href="{{ ('/tag/' ~ t|slug)|url }}">
              {{ t }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    {% endif %}
  </div>
{% endmacro %}
