<!doctype html>
<html>
<head>
    <title>{% block title %}{{ this.title }} | The Tor Project{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/static/style.css'|asseturl }}">
    <link rel="stylesheet" href="{{ '/static/fonts/fontawesome/css/all.min.css'|asseturl }}">
    <link rel="icon" type="image/x-icon" href="{{ '/static/images/favicon/favicon.ico'|url }}">
    <link rel="icon" type="image/png" href="{{ 'static/images/favicon/favicon.png'|url }}">
    {% block feed %}{% endblock %}
    {% block graph %}{% endblock %}
</head>
<body>
  <header>
    <nav>
      <a class="navbar-brand" href="{{ '/'|url }}"><img alt="Tor Blog" src="{{ '/static/images/logo.png'|url }}" /></a>
      <ul class="navbar-nav">
        {% for href, title in [
          ['https://www.torproject.org/about/history/', 'About'],
          ['https://2019.www.torproject.org/docs/documentation.html.en', 'Documentation'],
          ['https://support.torproject.org/', 'Support'],
          ['https://community.torproject.org/', 'Community'],
          ['https://blog.torproject.org/', 'Blog'],
          ['https://donate.torproject.org/', 'Donate']
        ] %}
          <li><a href="{{ href }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <section class="content">
    <main>
      {% block body %}{% endblock %}
    </main>
    <aside class="sidebar">
      {% include "sidebar.html" %}
    </aside>
  </section>
  <footer>
      {% include "footer.html" %}
  </footer>
</body>
</html>
